<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>349068732489-svn41ki0oob96papeq5f02abtcjs38n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349068732489-svn41ki0oob96papeq5f02abtcjs38n2</string>
	<key>API_KEY</key>
	<string>AIzaSyC-qtOY9STLVlw9GFhIdsdYlBmMoKYZqAU</string>
	<key>GCM_SENDER_ID</key>
	<string>349068732489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lerner.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>freaking-snapchat-d2291</string>
	<key>STORAGE_BUCKET</key>
	<string>freaking-snapchat-d2291.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349068732489:ios:fc1616622f8d9a42</string>
	<key>DATABASE_URL</key>
	<string>https://freaking-snapchat-d2291.firebaseio.com</string>
</dict>
</plist>